Source: git-core
Section: devel
Priority: optional
Maintainer: Gerrit Pape <pape@smarden.org>
Build-Depends: libz-dev, libcurl3-gnutls-dev | libcurl3-dev, python, asciidoc (>> 7.0.2-3), xmlto, libexpat1-dev, rcs, subversion, libsvn-perl | libsvn-core-perl, unzip
Standards-Version: 3.7.2.0

Package: git-core
Architecture: any
Depends: ${shlibs:Depends}, perl-modules, liberror-perl, libdigest-sha1-perl, rcs
Recommends: git-doc, patch, less, rsync, curl, ssh-client, python
Suggests: git-arch, git-cvs, git-svn, git-email, git-daemon-run, gitk, gitweb, cogito
Replaces: cogito (<< 0.16rc2-0)
Conflicts: git (<< 4.3.20-8)
Description: content addressable filesystem
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides the git core components.

Package: git-doc
Section: doc
Architecture: all
Suggests: git-core, git-arch, git-cvs, git-svn, git-email, gitk, gitweb
Description: content addressable filesystem (documentation)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides the documentation.

Package: git-arch
Architecture: all
Depends: git-core (= ${Source-Version})
Recommends: git-doc
Suggests: tla, bazaar
Replaces: cogito (<< 0.16rc2-0)
Description: content addressable filesystem (arch interoperability)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides tools for importing development history from arch
 repositories.

Package: git-cvs
Architecture: all
Depends: git-core (= ${Source-Version}), cvsps (>> 2.1-0)
Recommends: git-doc
Suggests: cvs
Replaces: cogito (<< 0.16rc2-0)
Description: content addressable filesystem (cvs interoperability)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides tools for importing development history from cvs
 repositories.

Package: git-svn
Architecture: all
Depends: git-core (= ${Source-Version}), libsvn-perl | libsvn-core-perl, libwww-perl
Recommends: git-doc
Suggests: subversion
Replaces: cogito (<< 0.16rc2-0)
Description: content addressable filesystem (svn interoperability)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides tools for importing development history from
 subversion repositories.

Package: git-email
Architecture: all
Depends: git-core (= ${Source-Version}), libmail-sendmail-perl, libemail-valid-perl
Recommends: git-doc
Replaces: cogito (<< 0.16rc2-0)
Description: content addressable filesystem (email add-on)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides tools for sending series of patch emails.

Package: git-daemon-run
Architecture: all
Depends: git-core (= ${Source-Version}), runit, adduser
Description: content addressable filesystem (git-daemon service)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides a git-daemon service.

Package: gitk
Architecture: all
Depends: git-core (= ${Source-Version}), tk8.4
Recommends: git-doc
Replaces: cogito (<< 0.16rc2-0)
Description: content addressable filesystem (revision tree visualizer)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides the gitk program, a tcl/tk revision tree visualizer.

Package: gitweb
Architecture: all
Depends: git-core (= ${Source-Version}), perl
Recommends: git-doc
Description: content addressable filesystem (web interface)
 This is a stupid (but extremely fast) directory content manager.  It
 doesn't do a whole lot, but what it 'does' do is track directory
 contents efficiently.
 .
 Amongst other projects, the Linux kernel source tree is managed through
 the git content manager.
 .
 This package provides a web interface for browsing git repositories.
